<div class="container mt-100">
    <div class="row">
        <div class="col auto">
            <p class="fw-lighter">
                &copy; RMedia Technology
            </p>
        </div>
    </div>
</div>