<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/assets/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body class="text-center min-h-screen flex flex-col">
    {{>menu}}
    {{>messages}}

    <div class="container-fluid">
        {{{body}}}
    </div>

    {{>footer}}
</body>
<script src="/assets/vendor/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/utils.js" type="module"></script>

{{#if user}}
<script src="/socket.io/socket.io.js"></script>
{{#if room}}
<link rel="stylesheet" href="/assets/css/room/parts.css">
<link rel="stylesheet" href="/assets/css/room/room.css">
<script src="/twilio-video.js"></script>
<script src="/assets/js/room/roommain.js" type="module"></script>
{{/if}}
{{#if connectedpeers}}
<script src="/assets/js/room/connectedpeersscriptelements.js" type="module"></script>
<script src="/assets/js/room/connectedpeersscript.js" type="module"></script>
{{/if}}
{{#if dashboard}}
<script src="/assets/js/dashboardelements.js" type="module"></script>
<script src="/assets/js/dashboardmain.js" type="module"></script>
<link rel="stylesheet" href="/assets/css/dashboard.css">
{{/if}}
{{#if multicontact}}
<script src="/assets/js/contactsmainelements.js" type="module"></script>
<script src="/assets/js/contactsmain.js" type="module"></script>
{{/if}}
{{#if singlecontact}}
<script src="/assets/js/singlecontactelements.js" type="module"></script>
<script src="/assets/js/singlecontactmain.js" type="module"></script>
{{/if}}
{{else}}
<script src="/assets/js/main.js" type="module"></script>
{{/if}}

</html>