<form class="container-fluid" style="margin:10rem 0;" action="/auth/signin" method="post">
    <div class="mt-4 mb-4">
        <input type="email" class="form-control" name="email" id="signin-email" placeholder="name@example.com">

    </div>

    <div class="mt-4 mb-4">
        <input type="password" class="form-control" name="pwd" id="signin-pwd" placeholder="Password">

    </div>

    <div class="mt-4 mb-4">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    <div class="mt-4 mb-4">
        <div class="container-fluid px-5">
            <div class="row gx-5">
                <div class="col-sm-12 col-md-auto m-4">
                    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                </div>
            </div>
        </div>
    </div>
</form>